./Stack/C/.vs/
./Stack/C/Debug/
./Stack/C/x64/
./Stack/C/CStack.sln
./Stack/C/CStack.vcxproj
./Stack/C/CStack.vcxproj.filters
./Stack/C/CStack.vcxproj.user
LibraryManagementOperatingSystem/command.hpp
Stack/C/.vs/CStack/FileContentIndex/82422e2c-4bde-4b75-9820-bee96207e5f2.vsidx
Stack/C/.vs/CStack/FileContentIndex/read.lock
Stack/C/.vs/CStack/v17/.suo
Stack/C/.vs/CStack/v17/Browse.VC.db
Stack/C/.vs/CStack/v17/ipch/AutoPCH/148fe42d60de35cc/CSTACK.ipch
Stack/C/.vs/CStack/v17/ipch/AutoPCH/a49f68c5aa705eab/CSTACK.ipch
Stack/C/CStack.sln
Stack/C/CStack.vcxproj
Stack/C/CStack.vcxproj.filters
Stack/C/CStack.vcxproj.user
Stack/C/Debug/CStack.log
Stack/C/Debug/CStack.tlog/CL.command.1.tlog
Stack/C/Debug/CStack.tlog/CStack.lastbuildstate
Stack/C/Debug/CStack.tlog/unsuccessfulbuild
Stack/C/x64/Debug/CStack.exe
Stack/C/Debug/vc143.pdb
Stack/C/x64/Debug/CStack.exe.recipe
Stack/C/x64/Debug/CStack.ilk
Stack/C/x64/Debug/CStack.log
Stack/C/x64/Debug/CStack.pdb
Stack/C/x64/Debug/CStack.obj
Stack/C/x64/Debug/CStack.tlog/CL.command.1.tlog
Stack/C/x64/Debug/CStack.tlog/CL.read.1.tlog
Stack/C/x64/Debug/CStack.tlog/CL.write.1.tlog
Stack/C/x64/Debug/CStack.tlog/CStack.lastbuildstate
Stack/C/x64/Debug/CStack.tlog/link.command.1.tlog
Stack/C/x64/Debug/CStack.tlog/link.read.1.tlog
Stack/C/x64/Debug/CStack.tlog/link.write.1.tlog
Stack/C/x64/Debug/CStack.vcxproj.FileListAbsolute.txt
Stack/C/x64/Debug/vc143.idb
Stack/C/x64/Debug/vc143.pdb
